.modaluser{
    @extend .modalPet;
    bottom: 0px;
    display: flex;
    background-color: $color-primary;
    flex-direction: column;
    align-items: center;
    &__header{
        width: 100%;
        max-width: 425px;
        height:144px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        
    }
    &__exit{
        position: absolute;
        width: 44px;
        height: 44px;
        left: 5px;
        top: 15px;
        border-radius: 100px;
        padding: 10px;
        background-color: $color-black;
        border: none;

    }
    &__wrapper{
        height: 229px;
        width: 327px;
        margin-top: 24px;

    }
    &__chat{
        
        width: 255px;
        height: 70px;
        border-radius: 16px;
        padding: 16px;
        background-color: $color-white;
        margin-left: 88px;
        &--black{
            @extend .modaluser__chat;
            background-color: $color-black;
            color: $color-white;
            margin-left: 0px;
            margin-top: 47px;
            height: 89px;
        }
 
    }
    input{
        height: 48px;
        width: 359px;
        left: 8%;
        border-radius: 4px;
        padding: 12px 16px 12px 16px;
        position: absolute;
        bottom: 0px;
        border: 1px solid rgba(83, 83, 83, 1)

    }
    figure{
        width: 48px;
        height: 48px;
        border-radius:50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
}