.user{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    &__body{
        width: 100px;
        height: 100%;
    }
    figure{
        width: 48px;
        height: 48px;
        border-radius:50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
    button{
        @include button(155px);
    }
}