    $color-white: #fffffe; 
    $color-black: #0e172c; 
    $color-primary: #fec7d7; 
    $color-secondary: #a786df; 
    $color-tertiary: #d9d4e7; 
    $color-green: #85d1ce; 
    $color-blue: #91c1d7; 
    $color-grey: #535353; 