$font: 'Nunito', sans-serif;
$subtitle2: 600 0.75rem/normal $font; 
$subtitle1: 600 1.125rem/normal $font; 
$body1-regular: 400 1rem/1.5rem $font; 
$body1-bold: 700 1rem/1.5rem $font; 
$body2-regular: 400 0.875rem/normal $font; 
$body2-bold: 700 0.875rem/normal $font; 
$button: 600 0.875rem/1rem $font; 
$caption-caption: 400 0.6875rem/normal $font;    
